<!DOCTYPE html>
<html>
    <%- include('./partials/head'); %>
    <body>
        <h1>
            Pay Invoice
        </h1>
        <div>
            <label>Lightning Address</label>
            <input name="lightningAddress" value="<%=payData.address%>" readonly>
        </div>
        <div>
            <label>Amount [msat]</label>
            <input name="amount" value="<%=payData.amount%>" readonly>
        </div>
        <div>
            <label>Comment</label>
            <textarea name="comment" rows="2" readonly><%=payData.comment%></textarea>
        </div>
        <% if (payData?.payResponse) { %>
            <div>
                <label>Invoice</label>
                <img src="<%=payData.payResponse?.qrCode%>" width="100%" />
            </div>
            <div class="flex-space-between flex-center">
                <div>
                    <textarea id="payrequestid" rows="2" readonly><%=payData.payResponse?.payRequest%></textarea>
                </div>
                <div>
                    <button type="button" id="copyid">Copy</button>
                    <script>
                        document.getElementById('copyid').addEventListener('click', (event) => {
                            const pr = document.getElementById('payrequestid').value;
                            navigator.clipboard.writeText(pr);
                        });
                    </script>
                </div>
            </div>
        <% } %>
        <%- include('./partials/footer'); %>
    </body>
</html>
